{%extends 'base.html' %}
 
{%block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About us</h3>
  </div>
  <div class="panel-body">
    <p>We are SCSU(Scarborough Campus Scrum Union) and we are the
		developers of this app!</p>
	<p> This app was developed using Django and
		Scrapy along with other wonder tools!</p>
	<p>Team: Steven Diao, Yang Wang, Andy Li, Kai Song, Stephen Harrichand</p>
	<p>Thank you for joining and I hope you find our app useful! Enjoy!</p>
  </div>
</div>
{% endblock %}